body {
font-family: verdana,tahoma,arial,helvetica,sans-serif;
font-size: 0.8em;
background: #003;
margin: 0px;
}

#content {
margin: 0px;
height: 100%;
width: 100%;
padding: 30px;
background: #fff;
vertical-align: top;
}

#main {
width: 100%;
padding: 0px;
margin: 0px;
border: 0px;
}

#header {
float: top;
margin: 0px;
height: 60px;
background-image: url(images/header-bg.png);
}

#nav {
width: 130px;
float: left;
padding: 10px;
margin: 0px;
height: 100%;
background: #fff;
}

#footer {
background-image: url(images/header-bg.png);
color: #fff;
padding: 2px;
position: relative;
float: bottom;
clear: both;
height: 56px;
}

.val_links {
float: right;
margin-top: -15px;
position: relative;
}

h1.about {
font-weight: lighter;
color: #588AA1;
font-size: 1.6em;
margin: 5px;
margin-left: 0;
margin-top: 0;
}

.posttime {
color: #999;
font-size: 0.9em;
}

.comments {
border: 1px dotted #ccc;
background-color: #adccff;
padding: 3px;
margin-top: 25px;
}

.comments:hover {
background-color: #68a1ff;
}

.space { margin-left: 10px; }


/*starting the formatting, H1, h1 etc.*/



h1 {
font-weight: lighter;
color: #007dd5;
font-size: 1.8em;
margin: 5px;
margin-left: 0;
}

h2 {
font-weight: lighter;
color: #007dd5;
font-size: 1.4em;
margin: 5px;
margin-left: 0;
}

h3 {
font-weight: lighter;
color: #007dd5;
font-size: 1.3em;
margin: 0;
padding: 0;
}

img {
border: 0;
}

a:link {
color: #0072ff;

}

a:visited {
color: #0072ff;

}

a:hover {
color: #3fefe5;
text-decoration: none;

}

hr {
background: #b1d9ea;
height: 1px;
border: 1px solid #b1d9ea;
margin: 0;
margin-top: 5px;
}

textarea {
font-family: verdana,tahoma,arial,helvetica,sans-serif;
font-size: 1em;
}

.rightalign {
float: right;
position: relative;
margin-top: 0px;
}

.leftalign {
float: left;
position: relative;
margin-top: 0px;
}

a.fb:link {
color: #fff;
margin: 5px;
margin-left: 0;
text-decoration: none;
font-weight: bold;
}

a.fb:visited {
color: #fff;
margin: 5px;
margin-left: 0;
text-decoration: none;
font-weight: bold;
}

a.fb:hover {
color: #149;
margin: 5px;
margin-left: 0;
text-decoration: none;
font-weight: bold;
}

table.stats {
padding: 5px;
border-collapse: collapse;

}

td.stats {
padding: 5px;
border: 1px solid #ccc;
}


/*blog titlery*/

a.h1:link {
color: #588AA1;
margin: 5px;
margin-left: 0;
text-decoration: none;
}

a.h1:visited {
color: #007496;
margin: 5px;
margin-left: 0;
text-decoration: none;
}

a.h1:hover {
color: #2C4B66;
margin: 5px;
margin-left: 0;
}

